.u-section-1 .u-sheet-1 {
  min-height: 725px;
}

.u-section-1 .u-icon-1 {
  width: 34px;
  height: 34px;
  margin: 26px auto 0 248px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: -39px auto 0 20px;
}

.u-section-1 .u-text-2 {
  margin: -31px auto 0 296px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 23px 20px 0;
}

.u-section-1 .u-list-1 {
  margin: 60px -19px 60px auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 80px;
  grid-template-columns: calc(25% - 3px) calc(25% - 3px) calc(25% - 3px) calc(25% - 3px);
  grid-gap: 4px 4px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 0 0 auto;
}

.u-section-1 .u-icon-2 {
  font-size: 1.4em;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-1 .u-icon-3 {
  font-size: 1.4em;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-1 .u-icon-4 {
  font-size: 1.4em;
  background-image: none;
  vertical-align: 0px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-1 .u-icon-5 {
  font-size: 1.4em;
  background-image: none;
  vertical-align: 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    margin-top: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -42px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 62px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 65px;
    grid-template-columns: calc(33.3333% - 2.66667px) calc(33.3333% - 2.66667px) calc(33.3333% - 2.66667px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-top: 188px;
    margin-left: 190px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -116px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 227px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -77px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 41px;
    margin-bottom: 38px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 149px;
    grid-template-columns: calc(50% - 2px) calc(50% - 2px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-top: 368px;
    margin-left: 143px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -200px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 170px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -173px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-top: 579px;
    margin-left: 90px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -187px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 107px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -384px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
  }
}