.u-section-1 .u-sheet-1 {
  min-height: 942px;
}

.u-section-1 .u-image-1 {
  width: 1016px;
  height: 762px;
  margin: 24px auto 60px 57px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 709px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 543px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 405px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 255px;
  }
}