.u-section-1 .u-sheet-1 {
  min-height: 645px;
}

.u-section-1 .u-text-1 {
  margin: 16px auto 0 24px;
}

.u-section-1 .u-text-2 {
  margin: 44px auto 0 25px;
}

.u-section-1 .u-form-1 {
  height: 317px;
  margin: 16px 37px 60px 16px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 940px;
    margin-top: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}